body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.page-content-container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}


/* HEADER */

.main-navigation {
  background-color: #ffffff;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 1200px;
  height: 56px;

  /*display: block;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation li {
  width: 239px;
  text-align: center;
}

.main-navigation li:nth-child(2) {
  margin-right: auto;
}
.main-navigation li:nth-child(3) {
  margin-left: auto;
}

.main-navigation a {
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #000000;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation .now-active {
  color: #766357;
}

.main-navigation .header-logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -69px;
}

/* INDEX PAGE */

.welcome-section figure {
  margin: 0;
  padding: 0;
  height: 508px;

  text-align: center;

  background-color: #e3f0f8;
  background-image: url(../img/sedona-background.jpg);
  background-repeat: no-repeat;
  background-position-y: -56px ;
}

.welcome-section .welcome-pic {
  margin-top: 76px;
}

.welcome-section .polygon-pic {
  margin-top: 16px;
}

.advantage-list-section {
  text-align: center;

}

.catchphrase-section {
  height: 216px;
  background-color: #ffffff;
}

.catchphrase-section div {
  width: 520px;
  margin: 62px auto;
  line-height: 26px;
}

.catchphrase {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
}

.catchphrase-text {
  margin: 0;
  padding: 25px 0 0 0;
}

.text p {
  margin: 0;
  padding: 25px 0 0 0;
}

.text .text-item {
  margin: 0;
  padding: 20px 0 0 0;
  line-height: 21px;
}

.advantage {
  height: 256px;

  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
}

.advantage .text {
  width: 400px;
  padding: 47px 47px 50px 47px;
}

.advantage h2 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 22px;
  font-weight: bold;
}

.recommends p {
  margin: 0;
  padding-top: 20px;
  line-height: 21px;
}

.recommends {
  padding: 60px 0 75px 0;
  background-color: #ffffff;
}

.recommends ul {
  list-style: none;
  padding: 0;
  margin:  0;

  display: flex;
}

.recommends li {
  width: 400px;
  padding: 0 50px;
}

.recommends h3 {
  margin: 0;
  padding: 23px 0 0 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.advantage-list {
  margin: 50px 0;
  height: 156px;
  color: #000000;
  background-color: transparent;
}

.advantage-list ul {
  list-style: none;
  padding: 0;
  margin:  0;
  background-color: transparent;
  display: flex;
}

.advantage-list li {
  width: 400px;
  padding: 0 50px;
}

.advantage-list h2 {
  padding: 0;
  margin:  0;
  line-height: 21px;
}

.advantage-list p {
  margin: 0;
  padding: 25px 0 0 0;
}

.advantage-list .text-item {
  margin: 0;
  padding: 20px 0 0 0;
  line-height: 21px;
}

.empty-section {
  height: 172px;
  padding: 60px 0;
  background-color: #ffffff;
  position: relative;
}

.sedona-google-map-section {
  height: 473px;
}

.search-form-title {
  width: 568px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-form-title h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.search-form-title p {
  margin: 30px 0;
  padding: 0;
}

.search-form-title-btn {
  width: 568px;
  height: 86px;

  margin: 14px 0 0 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  outline: none;
  color: #ffffff;
  background-color: #766357;

  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #979797;
}

.search-form-title-btn:hover,
.search-form-title-btn:focus {
  background-color: #604e43;
}

.search-form-title-btn:active {
  background-color: #503e33;
}

.search-form-title-btn:active span{
  opacity: 0.3;
}

/* POPUP */

.popup-container {
  width: 568px;

  position: absolute;
  z-index: 1;
  top: 292px;
  left: 317px;

  display: flex;
  flex-direction: column;
}

.popup-hide {
  display: none;
}

.search-form {
  line-height: 26px;
  font-weight: bold;

  color: #000000;
  background-color: #ffffff;
}

.book-params {
  margin: 55px;
}

.book-params-row {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-params-row-label {
  width: 112px;
}

.book-params-row-label-input-area {
  width: 346px;
  position: relative;
}

.book-params-row-input {
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  padding: 0 9px 0 12px;
  margin: 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;
  border: none;
  outline: none;

  flex-grow: 1;
}

.book-params-row-input:hover {
  background-color: #ebebeb;
}

.book-params-row-input:focus {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #e5e5e5;
}

.book-params-row-digital-input {
  height: 38px;

  background-color: #f2f2f2;

  display: flex;
}

.img-calendar {
  width: 21px;
  height: 23px;
  outline: none;
  border: none;
  background: url(../img/icons/calendar-rest.svg) no-repeat center center;

  position: absolute;
  z-index: 1;
  top: 6px;
  right: 9px;
}

.img-calendar:hover,
.img-calendar:focus {
  background: url(../img/icons/calendar-hover.svg) no-repeat center center;
}

.img-calendar:active {
  background: url(../img/icons/calendar-active.svg) no-repeat center center;
}

.book-params-row-input-num {
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.book-params-row:last-child {
  display: flex;
  justify-content: space-between;
}

.book-params-row-part {
  /*flex-grow: 1;*/
  display: flex;
  align-items: center;
}
.book-params-row-part:last-child  .book-params-row-label {
  width: auto;
  margin-right: 25px;
}

.book-params-row-digital-input .img-minus {
  width: 38px;
  height: 38px;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background: url(../img/icons/minus-rest.png) no-repeat center center;
}

.book-params-row-digital-input .img-minus:hover,
.book-params-row-digital-input .img-minus:focus {
  background: url(../img/icons/minus-hover.png) no-repeat center center;
}

.book-params-row-digital-input .img-minus:active {
  background: url(../img/icons/minus-active.png) no-repeat center center;
}

.book-params-row-digital-input .img-plus {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: url(../img/icons/plus-rest.png) no-repeat center center;
}

.book-params-row-digital-input .img-plus:hover,
.book-params-row-digital-input .img-plus:focus {
  background: url(../img/icons/plus-hover.png) no-repeat center center;
}

.book-params-row-digital-input .img-plus:active {
  background: url(../img/icons/plus-active.png) no-repeat center center;
}

.book-params-row-digital-input .value {
  width: 36px;
}

.book-params-submit button {
  width: 458px;
  height: 56px;
  align-self: center;
  margin-top: 23px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  outline: none;
  color: #ffffff;
  background-color: #81b3d2;

  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #979797;
}

.book-params-submit button:hover,
.book-params-submit button:focus {
  background-color: #669ec0;
}

.book-params-submit button:active {
  background-color: #5496bd;
}

.book-params-submit button:active span{
  opacity: 0.3;
}


/* HOTELS PAGE */

.search-filter-container {
  padding: 30px 0;
  background-color: #666d75;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position-y: -56px ;
}

.search-filter-container .filter {
  width: 1056px;
  margin: 0 auto;

  line-height: 21px;

  color: #ffffff;

  display: flex;
  justify-content: space-between;
}

.search-filter-container .filter-group {
  display: flex;
}

.search-filter-container .checkbox-group {
  width: 255px;
}

.filter-group span {
  display: block;
  margin-bottom: 0px;

  font-size: 16px;
  font-weight: bold;
}

.checkbox-group .checkbox-pic {
  width: 27px;
  height: 23px;

  display: flex;
  margin-top: 23px;

  position: relative;
}
.checkbox-pic input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-pic input[type="checkbox"] + span {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: url(../img/icons/checkbox-off.svg) no-repeat;
  cursor: pointer;
}
.checkbox-pic input[type="checkbox"]:checked + span  	{
  background: url(../img/icons/checkbox-on.svg) no-repeat;
}

.checkbox-group .checkbox-label {
  font-size: 14px;
  font-style: normal;
  white-space: nowrap;

  margin-left: 27px;
}

.search-filter-container .price {
  width: 318px;
  flex-direction: column;
}

.price-range-value {
  width: 314px;
  height: 32px;

  display: flex;
  align-items: center;

  margin-bottom: 5px;
  margin-top: 5px;

  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
}

.price-range-value div {
  width: 159px;

  display: flex;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
  /*vertical-align: middle;*/
}

.price-range-value label {
  width: 70px;
  text-align: right;
}

.price-range-value input {
  width: 100px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
}

.price-range-value .empty-span {
  width: 0px;
  height: 20px;

  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
}

.price-range-filter {
  display: flex;
  width: 318px;
  height: 36px;
}

.price-range-filter input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border: none;
  background-color: transparent;

}

.price-range-filter input[type=range]:focus {
  outline: none;
}

.price-range-filter input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  margin-top: -9px;
  background-image: url('../img/icons/input-slider-trumb.svg');
  width: 20px;
  height: 22px;
}

.price-range-filter input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.filter button {
  width: 137px;
  height: 36px;
  align-self: center;
  margin-top: 10px;

  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  text-transform: uppercase;


  color: #ffffff;
  background-color: transparent;

  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
}

.filter button:hover,
.filter button:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-sort-container {
  height: 86px;
  background-color: #ffffff;
}

.search-sort-container-content {
  width: 1056px;
  margin: 30px auto;

  display: flex;
  align-items: center;
}

.result-amount {
  width: 135px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-options {
  flex-grow: 1;
  margin-left: 30px;

  font-size: 12px;
  line-height: 18px;

  display: flex;
  justify-content: space-between;
}

.sort-options-criteria {
  display: flex;
}

.sort-options-criteria ul {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin:  0 0 0 10px;

  display: flex;
}

.sort-options-criteria li {
  margin:  0 0 0 30px;
}

.sort-options-criteria a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
  color: #000000;
  opacity:  0.3;
}

.sort-options-criteria a:hover,
.sort-options-criteria a:focus {
  color:  #81b3d2;
}

.sort-options-criteria a:active {
  text-decoration: none;
  color:  #000000;
}

.sort-options-criteria .now-active {
  text-decoration: none;
  color:  #81b3d2;
  opacity:  1;
}

.search-result-container ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.search-result-container li,
.search-result-container li:last-child {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #e5e5e5;
}

.search-result-container li:last-child {
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #e5e5e5;
}

.sort-direction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-direction button {
  width: 11px;
  height: 10px;
  display: block;
  margin-left: 8px;
  border: none;
}

.sort-direction .up {
  background: url(../img/icons/icon-sort-up-rest.svg) no-repeat;
}

.sort-direction .up:hover,
.sort-direction .up:focus {
  background: url(../img/icons/icon-sort-up-hover.svg) no-repeat;
}

.sort-direction .up:active {
  background: url(../img/icons/icon-sort-up-active.svg) no-repeat;
}

.sort-direction button[class="up now-active"] {
  background: url(../img/icons/icon-sort-up-active.svg) no-repeat;
}

.sort-direction .down {
  background: url(../img/icons/icon-sort-down-rest.svg) no-repeat;
}

.sort-direction .down:hover,
.sort-direction .down:focus {
  background: url(../img/icons/icon-sort-down-hover.svg) no-repeat;
}

.sort-direction .down:active {
  background: url(../img/icons/icon-sort-down-active.svg) no-repeat;
}

.sort-direction button[class="down now-active"] {
  background: url(../img/icons/icon-sort-down-active.svg) no-repeat;
}

.hotel-info-container {
  width: 1056px;
  margin: 30px auto;

  display: flex;
  align-items: center;
}

.hotel-pic {
  display: block;
  height: 90px;
}

.hotel-info {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}

.hotel-about {
  margin-left: 30px;
  margin-right: 30px;
  flex-grow: 1;
}

.hotel-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  display: block;
  margin-bottom: 5px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  opacity: 0.3;
  color: #000000;
}

.hotel-type-and-price {
  display: flex;
  margin-bottom: 10px;
}

.hotel-type-and-price .left-part {
  width: 120px;
}

.hotel-type-and-price .price {
  width: 140px;
}

.book-it-now {
  display: inline-block;
  width: 140px;
  height: 27px;
  margin-left: 6px;

  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #766357;

  border: none;
  outline: none;
}

.book-it-now:hover,
.book-it-now:focus {
  background-color: #604e43;
}

.book-it-now:active {
  background-color: #503e33;
}

.book-it-now:active span {
  opacity: 0.3;
}

.more-info {
  display: inline-block;
  width: 110px;
  height: 27px;

  font-weight: bold;
  text-align: center;

  color: #ffffff;
  background-color: #81b3d2;
}

.more-info:hover,
.more-info:focus {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
}

.more-info:active span {
  opacity: 0.3;
}

.hotel-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-rating {
  display: inline-block;
  width: 110px;
  height: 27px;

  text-align: center;
  vertical-align: middle;

  color: #666666;
  background-color: #f2f2f2;
}


/*FOOTER*/

footer {
  height: 120px;
  background-color: #ffffff;
  opacity: 0.9;

  position: relative;

  display: flex;
  align-items: center;
}

footer div {
  width: 400px;
  text-align: center;
}

.visit-sedona-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
}

/* SOCIAL NETWORKS */

.socials-flex-container {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
}

.social-network-btn {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  margin: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-network-btn:hover,
.social-network-btn:focus {
  background-color: #669ec0;
}

.social-network-btn:active {
  background-color: #5496bd;
}

.social-network-btn:active img {
  opacity: 0.3;
}

/* HTMLACADEMY LOGO */

.htmlacademy-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.htmlacademy-logo span {
  margin-right: 10px;

}

.htmlacademy-logo-btn {
  width: 115px;
  height: 41px;
}

.htmlacademy-logo-btn .hover,
.htmlacademy-logo-btn .active {
  display: none;
}

.htmlacademy-logo-btn .regular {
  display: inline-block;
}

.htmlacademy-logo-btn:hover .regular,
.htmlacademy-logo-btn:hover .active,
.htmlacademy-logo-btn:focus .regular,
.htmlacademy-logo-btn:focus .active {
  display: none;
}

.htmlacademy-logo-btn:hover .hover,
.htmlacademy-logo-btn:focus .hover {
  display: inline-block;
}

.htmlacademy-logo-btn:active .regular,
.htmlacademy-logo-btn:active .hover {
  display: none;
}

.htmlacademy-logo-btn:active .active {
  display: inline-block;
}
