body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.visually-hidden {
  visibility: hidden;
}



/* NAVIGATION */

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}
.main-navigation a:active {
  color: #766357;
}
.main-navigation a:active {
  opacity: 30%;
}



/*MAIN-PAGE*/

.welcome-section {

}



/* ADVANTAGE-LIST */

.advantage-list-section p {
  text-align: center;
}




/* BOOK-SECTION */

.book-section h2 {
  text-align: center;
  font-weight: bold;
}

.book-section p {
  text-align: center;
}



/* HOTELS PAGE */

.filtered-hotel-list-section a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.filtered-hotel-list-section a:hover,
.filtered-hotel-list-section a:focus {
  color: #81b3d2;
}
.filtered-hotel-list-section a:active {
  opacity: 30%;
}

.filtered-hotel-list-section span {
  font: inherit;
}

.filtered-hotel-list-section .more-info {
  font: inherit;

  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  line-height: 21px;

  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.filtered-hotel-list-section .more-info:hover,
.filtered-hotel-list-section .more-info:focus {
  background-color: #669ec0;
}
.filtered-hotel-list-section .more-info:active {
  background-color: #5496bd;
  opacity: 30%;
}

.filtered-hotel-list-section .book-it-now {
  font: inherit;

  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  line-height: 21px;

  color: #ffffff;
  background-color: #766357;
  border: none;
}
.filtered-hotel-list-section .book-it-now:hover,
.filtered-hotel-list-section .book-it-now:focus {
  background-color: #604e43;
}
.filtered-hotel-list-section .book-it-now:active {
  background-color: #503e33;
  opacity: 30%;
}

.filtered-hotel-list-section .hotel-rating {
  font: inherit;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #d8d8d8;
  background-color: #f2f2f2;
  border: none;
}


/*FOOTER*/

footer {
  color: #000000;
  background-color: #ffffff;
}

footer .visit-sedona-hashtag {
  font: inherit;
  font-weight: bold;

  vertical-align: middle;
}

.social-network-list li {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-network-list li:hover,
.social-network-list li:focus {
  background-color: #669ec0;
}
.social-network-list li:active {
  background-color: #5496bd;
  opacity: 30%;
}

.htmlacademy-logo p {
  font: inherit;
  vertical-align: middle;
}
.htmlacademy-logo a:hover,
.htmlacademy-logo a:focus {

}
.htmlacademy-logo a:active {

}
