body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("img/sedona-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #ffffff;
  background-color: #242424;
}

.visually-hidden {
  visibility: hidden;
}


/*MAIN-PAGE*/

.welcome-section {

}

.advantage-list-section p {
  text-align: center;
}

.advantage-list-section ul {
  list-style: none;
}

.book-section h2 {
  text-align: center;
  font-weight: bold;
}

.book-section p {
  text-align: center;
}

/*HOTELS PAGE*/

.filtered-hotel-list-section ul {
  list-style: none;
}

.filtered-hotel-list-section h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.filtered-hotel-list-section span {
  font-size: 14px;
  line-height: 21px;
}

.filtered-hotel-list-section .more-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.filtered-hotel-list-section .book-it-now {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
}

.filtered-hotel-list-section .hotel-rating {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  color: #d8d8d8;
  background-color: #f2f2f2;
}


/*FOOTER*/

footer {
  color: #000000;
  background-color: #ffffff;
}

footer .visit-sedona-hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

footer .social-network-list ul{
  list-style: none;
}

footer .social-network-list li{
  background-color: #81b3d2;
}

footer .website-creator-logo {

}
